/*************************************************************
  Written by ????, Term 1 2021
  Style a basic W3.CSS interface.
    v1 Basic layout of landing & game pages.
*************************************************************/
html,
body {
  margin: 0px;
  padding: 0px;
  font-family: tahoma;
  background-color: #2b2b2b;
  color: #ededed;
}

p {
  color: white;
}

canvas {
  display: block;
}

#landingPage {
  display: none;
  height: 100vh;
}

#gamePage {
  display: none;
  height: 100vh;
}

#helloHeader {
  height: 15vh;
}

/*------------------------------------------------------------*
    LANDING page styling
/*------------------------------------------------------------*/
#lP_oneThird {
  height: 80vh;
  border-radius: 20px;
}

#lP_twoThird {
  height: 80vh;
}

/*------------------------------------------------------------*
    Game page styling
/*------------------------------------------------------------*/
#s_table {
  height: 95vh;
}

#game_canvasDiv {
  height: 70vh;
  width: 60vw;
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

#p1_guess {
  height: 50%;
  background-color: #535353;
}

#p2_guess {
  background-color: #535353;
  height: 50%;
}
/*------------------------------------------------------------*
    REGISTRATION page styling
  /*------------------------------------------------------------*/
#registrationPage {
  display: none;
  /* The line below is just so you can see the form during testing //<========*/
  /*display: block;*/
  /* <===== ONCE FORM IS DESIGNED DELETE THIS LINE //<========*/
  height: 86vh;
}

/*------------------------------------------------------------*
    ADMIN page & BUTTON styling
  /*------------------------------------------------------------*/
#s_adminPage {
  display: none;
  height: 86vh;
  overflow: scroll;
}

#lP_Admin {
  display: none;
  /* none = don't display element */
}

#b_gpAdmin {
  display: none;
  /* none = don't display element */
}

/*************************************************************
  /*    END OF CSS
  *************************************************************/